ion-spinner {
    height: 20%;
    width: 20%;
    color: #5fc592
}

ion-item {
    --inner-padding-end: 0;
    /* Removes extra padding for a tighter layout */
}

.action-boxes {
    display: flex;
    gap: 8px;
    /* Space between buttons */
    margin-top: 8px;
    /* Space from the label */
    flex-wrap: wrap;
}

.box-button {
    --border-radius: 6px;
    --padding-start: 10px;
    --padding-end: 10px;
    // --ion-color-primary: #5fc592;
    /* Custom color for buttons */
    --color: #fff;
    /* Text color */
    // --background: var(--ion-color-primary);
    /* Background color */
    width: auto;
}

/** Modal View Styles */
.modal-title {
    text-align: center;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.productName {
    font-weight: 600;
    font-size: 22px;
}

.productCode {
    font-size: 20px;
}

.productNutriScore {
    font-size: 20px;
}

.green-text {
    color: #5fc592;
}

.red-text {
    color: #ff4c4c;
}

.nutriScoreImg {
    width: 80%;
    height: 85%;
}


.stickerImg {
    width: 85px;
    height: auto;
}

.image-row {
    display: flex;
    gap: 16px;
    /* Space between images */
    justify-content: center;
}

.labelImg {}