<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Food App Scanner v1.0 Beta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container>
    <div class="container">
      <ion-button class="scanBarcodeBtn" id="open-modal" expand="block">Scan Barcode</ion-button>
      <p>Note: This app only works with products that have nutritional facts in English.</p>
    </div>

    <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
      <ng-template>
        <ng-container *ngIf="isLoading">
          <div class="flex-center">
            <ion-spinner name="crescent"></ion-spinner>
          </div>
        </ng-container>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title *ngIf="!isLoading" class="modal-title">Scan Barcode</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true" [disabled]="!name" *ngIf="!isLoading" class="submitBtn">Submit</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">

          <ion-item>
            <ion-input label="Enter Barcode" labelPlacement="stacked" type="text" placeholder="102311232" #barcodeInput="ngModel" 
            minlength="4" maxlength="15" [(ngModel)]="name" required></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="barcodeInput.invalid && barcodeInput.touched">
            <small *ngIf="barcodeInput.errors?.['required']">Barcode is required.</small>
            <small *ngIf="barcodeInput.errors?.['minlength']">Minimum 4 characters required.</small>
            <small *ngIf="barcodeInput.errors?.['maxlength']">Maximum 15 characters allowed.</small>
          </ion-text>

          <ion-button class="scanWithCameraBtn" id="open-toast" expand="block"><ion-icon aria-hidden="true"
              name="barcode-outline"></ion-icon> Scan with Camera</ion-button>
          <ion-toast trigger="open-toast" message="Sorry, not availiable yet :(" [duration]="3000"
            [buttons]="toastButtons" (didDismiss)="setRoleMessage($event)"></ion-toast>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- Second Modal -->
    <ion-modal [isOpen]="isModalOpen" *ngIf="productState$ | async as productState" >
      <ng-template >
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="setOpen(false)">Close</ion-button>
            </ion-buttons>
            <ion-title class="modal-title">Scan Successfully</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <div class="centered-content">
            <ion-text>
              <h1 class="productName" >{{ productState.appData?.data?.product?.productName }}</h1>
            </ion-text>
        
            <ion-text>
              <h2  class="productCode">[ {{productState.appData?.data?.product?.code}} ]</h2>
            </ion-text>
            <ion-text>
              <h2  class="productNutriScore">Nutri-Score</h2>
            </ion-text>
            <div [ngSwitch]="productState.appData?.data?.product?.scoreLetter">
              <img *ngSwitchCase="'A'" src="../../assets/score/nutriScoreA.jpg" alt="Nutri-Score=A" class="nutriScoreImg" />
              <img *ngSwitchCase="'B'" src="../../assets/score/nutriScoreB.jpg" alt="Nutri-Score=B" class="nutriScoreImg" />
              <img *ngSwitchCase="'C'" src="../../assets/score/nutriScoreC.jpg" alt="Nutri-Score=C" class="nutriScoreImg" />
              <img *ngSwitchCase="'D'" src="../../assets/score/nutriScoreD.jpg" alt="Nutri-Score=D" class="nutriScoreImg" />
              <img *ngSwitchCase="'E'" src="../../assets/score/nutriScoreE.jpg" alt="Nutri-Score=E" class="nutriScoreImg" />
            </div>
            
            <!-- Stickers Exccesive -->
            <div class="image-row">
              <img *ngFor="let img of productImages" [src]="img.src" [alt]="img.alt" class="stickerImg" />
            </div>
            <!-- Sticker_Labels -->
            <img *ngIf="productState.appData?.data?.product?.isCaffeine" src="../../assets/stickers/caffeine.png" alt="ExccesiveCaffeine" class="labelImg" />
            <img *ngIf="productState.appData?.data?.product?.isColorant" src="../../assets/stickers/colorant.png" alt="ExccesiveColorant" class="labelImg" />

            <ion-text>
              <h2  class="productNutriScore">Exccesive Table</h2>
            </ion-text>
            <ion-grid>
              
              <ion-row>
                <ion-col>
                  <ion-item class="formInput">
                    <ion-input label="Calories" class="formInput" 
                    [ngClass]="{'green-text': productState.appData?.data?.product?.isCalories === false, 'red-text': productState.appData?.data?.product?.isCalories === true}"
                    value="{{ productState.appData?.data?.product?.isCalories === true ? 'YES' : 'NO'}}" [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input label="Sugar" class="formInput" 
                    [ngClass]="{'green-text': productState.appData?.data?.product?.isSugars === false, 'red-text': productState.appData?.data?.product?.isSugars === true}"
                    value="{{ productState.appData?.data?.product?.isCalories === true ? 'YES' : 'NO'}}"  [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input label="Sat. Fat" class="formInput" 
                    [ngClass]="{'green-text': productState.appData?.data?.product?.isSaturatedFat === false, 'red-text': productState.appData?.data?.product?.isSaturatedFat === true}"
                    value="{{ productState.appData?.data?.product?.isSaturatedFat === true ? 'YES' : 'NO'}}"
                    [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input label="Salt" class="formInput"
                    [ngClass]="{'green-text': productState.appData?.data?.product?.isSalt === false, 'red-text': productState.appData?.data?.product?.isSalt === true}"
                    value="{{ productState.appData?.data?.product?.isSalt === true ? 'YES' : 'NO'}}"
                    [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-item>
                    <ion-input label="Caffeine" class="formInput"
                    [ngClass]="{'green-text': productState.appData?.data?.product?.isCaffeine === false, 'red-text': productState.appData?.data?.product?.isCaffeine === true}"
                    value="{{ productState.appData?.data?.product?.isCaffeine === true ? 'YES' : 'NO'}}"
                    [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col>
                  <ion-item>
                    <ion-input label="Colorant" class="formInput" 
                    [ngClass]="{'green-text': productState.appData?.data?.product?.isColorant === false, 'red-text': productState.appData?.data?.product?.isColorant === true}"
                    value="{{ productState.appData?.data?.product?.isColorant === true ? 'YES' : 'NO'}}"
                    [disabled]="true"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>


            </ion-grid>
            
          </div>
          
        </ion-content>

      </ng-template>      
    </ion-modal>


  </ng-container>

</ion-content>