.container,
p {
    text-align: center;

    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.scanBarcodeBtn {
    --background: #5fc592;
    --color: rgb(253, 253, 253);
    --border-radius: 0;
    --border-width: 1px;
    --ripple-color: rgb(193, 194, 185);
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
}

.submitBtn {
    color: #5fc592;
}

.scanWithCameraBtn {
    --background: #5fc592;
    --color: rgb(253, 253, 253);
    --border-radius: 0;
    --border-width: 1px;
    --ripple-color: rgb(193, 194, 185);
    text-transform: none;
    font-size: medium;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

p {
    margin-top: 50px;
    font-size: small;
    margin-left: 20px;
    margin-right: 20px;
}

.modal-title {
    text-align: center;
}

/** Circle Loading **/
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

ion-spinner {
    height: 20%;
    width: 20%;
    color: #5fc592
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}


.productName {
    font-weight: 600;
    font-size: 22px;
}

.productCode {
    font-size: 20px;
}

.productNutriScore {
    font-size: 20px;
}

.green-text {
    color: #5fc592;
}

.red-text {
    color: #ff4c4c;
}

.nutriScoreImg {
    width: 80%;
    height: 85%;
}


.stickerImg {
    width: 85px;
    height: auto;
}

.image-row {
    display: flex;
    gap: 16px;
    /* Space between images */
    justify-content: center;
}

.labelImg {}