<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Food App Scanner v1.0 Beta
      <ion-icon name="settings-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ng-container >
    <div class="container">
      <div class="flex-center">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="profile-pic" alt="">
      </div>
      <div class="flex-center">
        <h2>Username</h2>
      </div>
      <!-- Backgound -->
      <ion-card>
        <ion-grid>
          <!-- Row for Stats -->
          <ion-row>
            <ion-col>
              <div class="text-wrapper">
                <h2 class="statsTitle" >Healthy</h2>
                <ion-spinner *ngIf="isLoading" name="crescent" class="loadingCircle" ></ion-spinner>
                <p class="statsValue" *ngIf="!isLoading">4</p>
              </div>
            </ion-col>
            <ion-col>
              <div class="text-wrapper">
                <h2 class="statsTitle">Unhealthy</h2>
                <ion-spinner *ngIf="isLoading" name="crescent" class="loadingCircle" ></ion-spinner>
                <p class="statsValue" *ngIf="!isLoading">12</p>
              </div>
            </ion-col>
            <ion-col>
              <div class="text-wrapper">
                <h2 class="statsTitle">Total</h2>
                <ion-spinner *ngIf="isLoading" name="crescent" class="loadingCircle" ></ion-spinner>
                <p class="statsValue" *ngIf="!isLoading">16</p>
              </div>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card>
      <div class="AIWrapper">
        <p class="AItitle" >AI-Powered Advice Summary <ion-icon name="sparkles-outline"></ion-icon></p>
        <div class="AItextwrapper">
          <div *ngIf="isLoading">
            <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 70%;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 95%;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
            <ion-skeleton-text [animated]="true" style="width: 40%;"></ion-skeleton-text>
          </div>
          <p  *ngIf="!isLoading" class="AItext">After a weekend of treats like chocolate bars and soda, your body might need a little reset.  <br> Staying hydrated will help flush out excess sugar, while adding some fiber-rich foods (like fruits or vegetables) can help stabilize blood sugar levels. <br> A bit of light exercise, like walking, can also aid digestion and boost energy. <br> Balance is key—indulging occasionally is okay!</p>
        </div>
      </div>
    </div>
  </ng-container>


</ion-content>
