.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.profile-pic {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    align-items: center;
    margin-top: 30px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

.text-wrapper h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.text-wrapper h5 {
    margin: 0;
    font-size: 14px;
}

.statsTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
}

.statsValue {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: rgb(221, 205, 205);
    text-align: center;
}
.AIWrapper {
//    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
    // padding-left: 10px;
    // padding-right: 10px;
}
.AItitle {
    font-size: 18px;
    color: white;
}
.AItext {
    font-size: 16x;
    color: rgb(182, 203, 243);
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}
.AItextwrapper {
    background-color: #1e1e1e;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 2%;
}
.loadingCircle {
    margin-top: 22px;
    margin-bottom: 22px;
    height: 30px;
    width: 30px;
    color: #5fc592
}